body {
    font-family: "Inter", sans-serif;
    background: #29313E;
    padding: 25px 25px;
}

h {
    font-weight: 700;
    font-style: Bold;
    font-size: 110px;
    line-height: 100%;
    letter-spacing: 0%;
    color: #FFFFFF;
}
p {
    font-weight: 300;
    font-style: Light;
    font-size: 24px;
    line-height: 100%;
    letter-spacing: 0%;
    color: #777777;
}
.header {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
}
.header-text {
    color: #FFFFFF;
    font-style: Regular;
    font-size: 18px;
    line-height: 100%;
    letter-spacing: 0%;
}
.main_div {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    margin-top: 50px;
}
.paragraph {
    max-width: 65%;
}
.paragraph-header {
    display: inline-block; 
}
.main_div-text {
    max-width: 65%;
}
.paragraph-buttons {
    
    margin-top: 50px;
}
.button-1 {
    background-color: #4A37D9;
    transition-duration: 0.4s;
    border: none;
    color: white;
    padding: 15px 32px;
    text-align: center;
    display: inline-block;
    border-radius: 38px;
    font-family: Inter;
    font-style: Regular;
    font-size: 24px;
    line-height: 100%;
    letter-spacing: 0%;
}
.button-1:hover {
    opacity: 0.8;
    cursor:pointer;
}
img {
    max-width: 100%;
    height: auto;
}


