body {
    font-family: "Inter", sans-serif;
    background: #29313E;
    margin: 0;
}
.background-ellipses {
    position: fixed;
    width: 100%;
    height: 100%;
    z-index: -1;
    overflow: hidden;
}

.ellipse {
    position: absolute;
}

.ellipse-1 {
    left: 200px;
}

.ellipse-2 {
    left: 50px;
}

.main-content {
    position: relative;
    z-index: 1; 
    padding: 40px;
}

.main__div {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    margin-top: 50px;
}
.paragraph {
    max-width: 65%;
}
.paragraph-header {
    display: inline-block; 
}
.main__div__text {
    max-width: 65%;
}
h {
    font-weight: 700;
    font-style: Bold;
    font-size: 110px;
    line-height: 100%;
    letter-spacing: 0%;
    color: #FFFFFF;
}
p {
    font-weight: 300;
    font-style: Light;
    font-size: 24px;
    line-height: 100%;
    letter-spacing: 0%;
    color: #777777;
}
.div__png {

    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
img {
    max-width: 105%;
    height: auto;
}

.div__png__all_names {
    width: fit-content;
    display: flex;
    flex-direction: row;
}
.div__png__names {
    width: fit-content;
    padding: 20px;
}
